.footer {
	background-image: url(../assets/images/footer__bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	background-attachment: fixed;
	height: 476px;
	display: flex;
	justify-content: center;
	margin-top: 140px;
}
.footer__container {
	display: flex;
	flex-direction: column;
}
.footer__container__footer-logo {
	display: flex;
	justify-content: center;
	margin-top: 74px;
	margin-bottom: 66px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	line-height: 41px;
	letter-spacing: 0.02em;
}
.footer__logo-first {
	color: #F22225;
}
.footer__logo-second {
	color: white;
}
.footer__container__footer-nav {
	ul {
		display: flex;
		justify-content: center;
	}
	li {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
		width: 133px;
		border-right: 2px solid #514971;
		margin-bottom: 50px;
		text-align: center;
	}
	li:last-of-type {
		border-right: none;
	}
}
.footer__container__footer-socials {
	display: flex;
	justify-content: center;
	column-gap: 19px;
	a {
		transition: .25s;
	}
	a:hover {
		scale: 1.05;
	}
}