.nav {
	display: flex;
	align-items: center;
	width: 100%;
}
.nav__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
	height: 100px;
	ul {
		margin-left: 217px;
		display: flex;
		gap: 40px;
		li {
			font-size: 16px;
		}
		a {
			transition: .25s;
		}
		a:hover {
			color: black;
		}
	}
	button {
		margin-left: 76px;
	}
}
.nav__logo {
	display: flex;
	font-size: 30px;
	font-weight: 700;
	&:first-child {
		color: black;
	}
	&:last-child {
		color: rgba(242, 34, 37, 1);
	}
}
.nav__logo-first {
	color: black;
}
.nav__logo-second {
	color: rgba(242, 34, 37, 1);
}
.nav__logo-span {
	box-sizing: border-box;
	color: rgba(242, 34, 37, 1);
}
.mobile__nav-burger-btn {
	display: flex;
	width: 50px;
}
.nav__contact-btn {
	width: 155px;
	height: 49px;
	border-radius: 10px;
	color: white;
	background-color: rgba(242, 34, 37, 1);
	transition: .25s;
}
.nav__contact-btn:hover {
	background-color: rgb(255, 0, 4);
}
.mobile__nav__wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
}
.mobile__nav {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	top: 0;
	right: -100%;
	gap: 30px;
	font-size: 30px;
	width: 100%;
	height: 100%;
	transition: .4s;
	background-color: white;
	color: black;
	z-index: 1;
	@include headerTwo;
	button {
		width: 50px;
		margin-bottom: 100px;
		border: 1px solid white;
		border-radius: 50%;
	}
	li {
		margin-bottom: 20px;
	}
}
.show {
	transform: translateX(-100%);
}
.disabled {
	display: none;
}