.section__about-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	margin-top: 140px;
	margin-bottom: 140px;
}
.section__about-me__grid {
	display: grid;
	justify-content: center;
	grid-template-columns: 556px 572px;
	grid-template-rows: 507px;
	column-gap: 57px;
}
.section__about__me__img {
	display: flex;
}
.section__about-me__img-main {
	margin-right: 29px;
}
.section__about__me__img-small {
	display: flex;
	flex-direction: column;
	gap: 28px;
}
.section__about-me__img-small-two {
	width: 205px;
	height: 240px;
}
.section__about-me__img-small-three {
	width: 205px;
	height: 240px;
}
.section__about-me__article {
	margin-top: 34px;
	h2 {
		@include headerTwo;
	}
	a {
		color: white;
	}
}
.section__about-me__download-btn {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 48px;
	padding: 16px 30px;
	gap: 10px;
	width: 207px;
	height: 54px;
	background: #F22225;
	border-radius: 50px;
	transition: .25s;
}

.section__about-me__download-btn:hover {
	background-color: rgb(255, 0, 4);
}
.section__about-me__statistics__grid {
	display: grid;
	justify-content: center;
	grid-template-columns: 261px 261px 261px 261px;
	grid-template-rows: 282px;
	column-gap: 42px;
	margin-top: 140px;
}
.section__about-me__statistics__block {
	width: 100%;
	height: 100%;
	box-shadow: 0.3em 0.3em 1em rgba(189, 188, 188, 0.3);
	transition: .25s;
	h3 {
		@include headerThree;
	}
	img{
		width: 167px;
		height: 167px;
		margin: 30px 47px 24px 47px;
	}
}
.section__about-me__statistics__block:hover {
	scale: 1.05;
}