.header {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100vw;
	background-image: url(../assets/images/header__bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	background-attachment: fixed;
}
.header__container {
	display: flex;
	position: relative;
	max-width: 1174px;
}
.header__text__arrow-component {
	display: flex;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.02em;
	& span + span {
		margin-left: 3px;
	}
}
.header__text__arrow-component-img {
	height: 6px;
	margin-right: 9px;
}
.header__text__arrow-component-text-1 {
	color: #25282B;
}
.header__text__arrow-component-text-2 {
	color: #F22225;
}
.header__hero-cross-img {
	position: absolute;
	left: -250px;
	bottom: 393px;
}
#running__string {
	color: #F22225;
}
.header__text {
	display: flex;
	flex-direction: column;
	width: 590px;
	margin-top: 201px;
		h1 {
			height: 78px;
			width: 590px;
			font-size: 68px;
			color: black;
			font-weight: 500;
		}
		p {
			width: 552px;
			height: 56px;
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 48px;
			margin-top: 34px;
		}
		button {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 19px 30px;
			gap: 8px;
			color: white;
			width: 159px;
			height: 62px;
			background: #F22225;
			border-radius: 50px;
			transition: .25s;
		}
		button:hover {
			background-color: rgb(255, 0, 4);
		}
	}
.header__hero-your-img {
	display: flex;
	position: relative;
	min-width: 678px;
	height: 793px;
	margin-left: 87px;
}
.header__hero-award {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	background: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.02em;
	color: #000000;
	border-radius: 15px;
	width: 255px;
	height: 107px;
	left: -69px;
	bottom: 136px;
	transition: .25s;
	span {
		margin-left: 5px;
		width: 118px;
		height: 60px;
	}
}
.header__hero-award:hover {
	scale: 1.05;
}
.header__hero-customers {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background:white;
	width: 136px;
	height: 170px;
	right: 16px;
	top: 147px;
	border-radius: 15px;
	box-shadow: 0.3em 0.3em 1em rgba(189, 188, 188, 0.3);
	transition: .25s;
	img {
		width: 60px;
		height: 60px;
	}
}
.header__hero-customers:hover {
	scale: 1.05;
}
.header__hero-customers__counter {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.02em;
	color: #000000;
}
.header__hero-customers__counter-text {
	width: 64px;
	height: 44px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #757B82;

}
