@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 1220px;
  margin: 0 auto;
  height: 100px;
}
.nav__container ul {
  width: 585px;
  margin-left: 217px;
  display: flex;
  gap: 40px;
}
.nav__container ul li {
  font-size: 16px;
}
.nav__container ul a {
  transition: 0.25s;
}
.nav__container ul a:hover {
  color: black;
}

.nav__logo {
  display: flex;
  font-size: 30px;
  font-weight: 700;
  width: 141px;
}
.nav__logo:first-child {
  color: black;
}
.nav__logo:last-child {
  color: rgb(242, 34, 37);
}

.nav__logo-first {
  color: black;
}

.nav__logo-second {
  color: rgb(242, 34, 37);
}

.nav__logo-span {
  box-sizing: border-box;
  color: rgb(242, 34, 37);
}

.mobile__nav-burger-btn {
  display: flex;
  width: 50px;
}

.nav__contact-btn {
  margin-left: 76px;
  width: 155px;
  height: 49px;
  border-radius: 10px;
  color: white;
  background-color: rgb(242, 34, 37);
  transition: 0.25s;
}

.nav__contact-btn:hover {
  background-color: rgb(255, 0, 4);
}

.mobile__nav__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mobile__nav {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  right: -100%;
  gap: 30px;
  font-size: 30px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background-color: white;
  color: black;
  z-index: 1;
  margin-bottom: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #0F172A;
}
.mobile__nav button {
  width: 50px;
  margin-bottom: 100px;
  border: 1px solid white;
  border-radius: 50%;
}
.mobile__nav li {
  margin-bottom: 20px;
}

.show {
  transform: translateX(-100%);
}

.disabled {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  background-image: url(../assets/images/header__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.header__container {
  display: flex;
  position: relative;
  max-width: 1174px;
}

.header__text__arrow-component {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}
.header__text__arrow-component span + span {
  margin-left: 3px;
}

.header__text__arrow-component-img {
  height: 6px;
  margin-right: 9px;
}

.header__text__arrow-component-text-1 {
  color: #25282B;
}

.header__text__arrow-component-text-2 {
  color: #F22225;
}

.header__hero-cross-img {
  position: absolute;
  left: -250px;
  bottom: 393px;
}

#running__string {
  color: #F22225;
}

.header__text {
  display: flex;
  flex-direction: column;
  width: 590px;
  margin-top: 201px;
}
.header__text h1 {
  height: 78px;
  width: 590px;
  font-size: 68px;
  color: black;
  font-weight: 500;
}
.header__text p {
  width: 552px;
  height: 56px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
  margin-top: 34px;
}
.header__text button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 30px;
  gap: 8px;
  color: white;
  width: 159px;
  height: 62px;
  background: #F22225;
  border-radius: 50px;
  transition: 0.25s;
}
.header__text button:hover {
  background-color: rgb(255, 0, 4);
}

.header__hero-your-img {
  display: flex;
  position: relative;
  min-width: 678px;
  height: 793px;
  margin-left: 87px;
}

.header__hero-award {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
  border-radius: 15px;
  width: 255px;
  height: 107px;
  left: -69px;
  bottom: 136px;
  transition: 0.25s;
}
.header__hero-award span {
  margin-left: 5px;
  width: 118px;
  height: 60px;
}

.header__hero-award:hover {
  scale: 1.05;
}

.header__hero-customers {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  width: 136px;
  height: 170px;
  right: 16px;
  top: 147px;
  border-radius: 15px;
  box-shadow: 0.3em 0.3em 1em rgba(189, 188, 188, 0.3);
  transition: 0.25s;
}
.header__hero-customers img {
  width: 60px;
  height: 60px;
}

.header__hero-customers:hover {
  scale: 1.05;
}

.header__hero-customers__counter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
}

.header__hero-customers__counter-text {
  width: 64px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #757B82;
}

.section__services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 140px;
}
.section__services h2 {
  margin-bottom: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #0F172A;
  text-align: center;
}

.section__services__side-dots {
  position: absolute;
  top: 261px;
  left: -199px;
}

.section__services-title {
  display: flex;
  width: 530px;
  height: 112px;
  margin-bottom: 74px;
}

.section__services__block__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 377px 377px 377px;
  grid-template-rows: 361px;
  -moz-column-gap: 34.5px;
       column-gap: 34.5px;
}

.section__services__block {
  position: relative;
  padding: 35px;
  border-radius: 5px;
  box-shadow: 0.3em 0.3em 1em rgba(189, 188, 188, 0.3);
  transition: 0.25s;
}
.section__services__block h3 {
  width: 242px;
  height: 31px;
  margin: 24px 0 24px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0F172A;
  text-align: left;
}
.section__services__block article {
  width: 303px;
  height: 84px;
}
.section__services__block a {
  position: absolute;
  padding-left: 35px;
  left: 0;
  bottom: 42px;
  font-size: 18px;
  line-height: 28px;
  color: #F22225;
  border-left: 3px solid #F22225;
}

.section__services__block:hover {
  scale: 1.05;
}

.active-block {
  color: white;
  background-color: rgb(242, 34, 37);
}
.active-block h3 {
  color: white;
}
.active-block article {
  color: white;
}
.active-block a {
  color: white;
}

.section__about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 140px;
  margin-bottom: 140px;
}

.section__about-me__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 556px 572px;
  grid-template-rows: 507px;
  -moz-column-gap: 57px;
       column-gap: 57px;
}

.section__about__me__img {
  display: flex;
}

.section__about-me__img-main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 29px;
}
.section__about-me__img-main img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__about__me__img-small {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 28px;
}

.section__about-me__img-small-one {
  display: flex;
  position: relative;
  width: 205px;
  height: 240px;
}
.section__about-me__img-small-one img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__about-me__img-small-two {
  display: flex;
  position: relative;
  width: 205px;
  height: 240px;
}
.section__about-me__img-small-two img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__about-me__article {
  margin-top: 34px;
}
.section__about-me__article h2 {
  margin-bottom: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #0F172A;
}
.section__about-me__article a {
  color: white;
}

.section__about-me__download-btn {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding: 16px 30px;
  gap: 10px;
  width: 207px;
  height: 54px;
  background: #F22225;
  border-radius: 50px;
  transition: 0.25s;
}

.section__about-me__download-btn:hover {
  background-color: rgb(255, 0, 4);
}

.section__about-me__statistics__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 261px 261px 261px 261px;
  grid-template-rows: 282px;
  -moz-column-gap: 42px;
       column-gap: 42px;
  margin-top: 140px;
}

.section__about-me__statistics__block {
  width: 100%;
  height: 100%;
  box-shadow: 0.3em 0.3em 1em rgba(189, 188, 188, 0.3);
  transition: 0.25s;
}
.section__about-me__statistics__block h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0F172A;
}
.section__about-me__statistics__block img {
  width: 167px;
  height: 167px;
  margin: 30px 47px 24px 47px;
}

.section__about-me__statistics__block:hover {
  scale: 1.05;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 34.5px;
  padding: 10px 0px 10px 0px;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.section__my-recent-projects {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 140px;
  width: 100%;
}
.section__my-recent-projects h2 {
  margin-bottom: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #0F172A;
  margin-bottom: 74px;
}

.section__my-recent-projects__header {
  display: flex;
  width: 100%;
  justify-content: start;
}

.section__my-recent-projects__grid {
  display: flex;
  justify-content: center;
}

.section__my-recent-projects__block {
  box-shadow: 0.3em 0.3em 1em rgba(189, 188, 188, 0.3);
  transition: 0.25s;
  display: flex;
  width: 377px;
  height: 514px;
  height: 100%;
}

.section__my-recent-projects__block:hover {
  transform: scale(1.05);
}

.section__my-recent-projects__block__text {
  margin: 27px 13px 28px 32px;
}
.section__my-recent-projects__block__text h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #0F172A;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section__my-recent-projects__block__text span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F22225;
}
.section__my-recent-projects__block__text article {
  margin-bottom: 10px;
}

.section__my-recent-projects__block__view-more-link {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F22225 !important;
}

.section__my-recent-projects__block_img {
  width: 377px;
  height: 272px;
}

.section__my-recent-projects__explore-more-btn-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.section__my-recent-projects__explore-more-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  gap: 10px;
  width: 174px;
  height: 54px;
  margin: 0 auto;
  margin-top: 85px;
  color: white !important;
  background: #F22225;
  border-radius: 50px;
  transition: 0.25s;
}

.section__my-recent-projects__explore-more-btn:hover {
  background-color: rgb(255, 0, 4);
}

.carousel {
  width: 100%;
  height: 100%;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  top: -100px;
  right: 0;
  border: none;
  background-color: none;
  padding: 0;
  cursor: pointer;
  font-size: 0;
}

.slick-prev {
  display: flex;
  position: absolute;
  right: 50px;
  width: 50px;
  height: 50px;
}
.slick-prev::before {
  content: url(../assets/images/icons/arrow-prev-active.svg);
  width: 50px;
  height: 50px;
}
.slick-prev:hover, .slick-prev:focus {
  opacity: 0.5;
}

.slick-next {
  display: flex;
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}
.slick-next::before {
  content: url(../assets/images/icons/arrow-next-inactive.svg);
  width: 50px;
  height: 50px;
}
.slick-next:hover, .slick-next:focus {
  opacity: 0.5;
}

.slick-dots {
  list-style: none;
  position: absolute;
  z-index: 3;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.slick-dots li {
  background-color: rgb(235, 26, 26);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 0;
  transition: 0.25s;
}
.slick-dots li:hover, .slick-dots li:focus {
  opacity: 0.5;
}

.slick-disabled {
  visibility: hidden;
}

.section__my-work-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 140px;
}

.section__my-work-example__wrapper h2 {
  margin-bottom: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #0F172A;
  text-align: center;
}

.section__my-work-example__cross-img {
  position: absolute;
  top: 493px;
  left: -250px;
}

.section__my-work-example__nav {
  margin-top: 71px;
  margin-bottom: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
}
.section__my-work-example__nav ul {
  display: flex;
  justify-content: center;
  gap: 26px;
}

.section__my-work-example__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 377px 377px 377px;
  grid-template-rows: 564px 564px;
  -moz-column-gap: 31px;
       column-gap: 31px;
  row-gap: 33px;
}

.section__my-work-example__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-shadow: 0.3em 0.3em 1em rgba(189, 188, 188, 0.3);
  transition: 0.25s;
}
.section__my-work-example__box h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 7px;
}
.section__my-work-example__box span {
  margin-bottom: 20px;
}

.section__my-work-example__box:hover {
  scale: 1.05;
}

.active-mini-nav {
  border-bottom: 2px solid red;
}

.center {
  justify-content: center;
}

.section__feedback {
  margin-top: 140px;
}

.section__feedback__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.section__feedback__bg-img {
  position: absolute;
  width: 100vw;
  left: 0;
  height: 688px;
  z-index: -1;
}

.section__feedback__left-quote {
  position: absolute;
  top: 109px;
  left: -112px;
}

.section__feedback__right-quote {
  position: absolute;
  top: 496px;
  right: -112px;
}

.section__feedback__header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 137px;
  margin-bottom: 74px;
}
.section__feedback__header-text h2 {
  margin-bottom: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #0F172A;
  text-align: center;
}

.section__feedback__grid {
  display: flex;
  justify-content: center;
}

.section__feedback__grid__block {
  width: 555px;
}
.section__feedback__grid__block article {
  border-top: 7px solid #F22225;
  border-radius: 10px;
  background-color: white;
  padding: 30px 40px 50px 40px;
  box-shadow: 6px 6px 10px rgba(98, 91, 222, 0.1);
  transition: 0.25s;
}
.section__feedback__grid__block article:hover {
  scale: 1.05;
}

.section__feedback__grid__block__article-wrapper {
  position: relative;
  height: 138px;
  margin-bottom: 38px;
}

.section__feedback__grid__block__article_msg-img {
  position: absolute;
  left: 81px;
  top: 133px;
}

.section__feedback__grid__block__client-profile {
  display: flex;
  margin-left: 59px;
  transition: 0.25s;
}

.section__feedback__grid__block__client-profile:hover {
  scale: 1.05;
}

.section__feedback__grid__block__client-profile__img-main {
  margin-right: 30px;
}

.section__feedback__grid__block__client-profile__name {
  display: flex;
  flex-direction: column;
  width: 130px;
}
.section__feedback__grid__block__client-profile__name h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
}
.section__feedback__grid__block__client-profile__name span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 11px;
  margin-top: 5px;
}
.section__feedback__grid__block__client-profile__name img {
  width: 50px;
  height: 10px;
}

.section__feedback__dots {
  display: flex;
  justify-content: center;
  margin-top: 57px;
}

.section__contact {
  position: relative;
  margin-top: 212px;
}

.section__contact__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 418px 673px;
  grid-template-rows: 586px;
  -moz-column-gap: 78px;
       column-gap: 78px;
}

.section__contact__grid__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.section__contact__grid__block h2 {
  margin-bottom: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #0F172A;
}
.section__contact__grid__block input {
  width: 301px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 50px;
  color: black;
  border-bottom: 2px solid #C7C7C7;
}
.section__contact__grid__block input::-moz-placeholder {
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #C7C7C7;
}
.section__contact__grid__block input::placeholder {
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #C7C7C7;
}

.section__contact__grid__block__form__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 301px 301px;
  grid-template-rows: 50px 50px;
  -moz-column-gap: 71px;
       column-gap: 71px;
  row-gap: 47px;
  margin-bottom: 47px;
}

.section__contact__grid__block__form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 66px;
  padding: 16px 30px;
  gap: 10px;
  width: 184.5px;
  height: 54px;
  color: white !important;
  background: #F22225;
  border-radius: 10px;
  transition: 0.25s;
}
.section__contact__grid__block__form button:hover {
  background-color: rgb(255, 0, 4);
}

.section__contact__grid__block__form__block__input-message__wrapper textarea {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 50px;
  color: black;
  border-bottom: 2px solid #C7C7C7;
}
.section__contact__grid__block__form__block__input-message__wrapper textarea::-moz-placeholder {
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #C7C7C7;
}
.section__contact__grid__block__form__block__input-message__wrapper textarea::placeholder {
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #C7C7C7;
}

.section__blog {
  margin-top: 140px;
  position: relative;
}
.section__blog h2 {
  margin-bottom: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #0F172A;
  text-align: center;
  margin-bottom: 74px;
}

.section__blog__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 361px);
  grid-template-rows: 552px;
  -moz-column-gap: 44px;
       column-gap: 44px;
}

.section__blog__grid__block {
  display: flex;
  flex-direction: column;
  transition: 0.25s;
}

.section__blog__grid__block:hover {
  scale: 1.05;
}

.section__blog__grid__block__text {
  padding: 33px 23px 31px 26px;
  box-shadow: 6px 6px 10px rgba(98, 91, 222, 0.1);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.section__blog__grid__block__text span {
  font-size: 16px;
  font-weight: 500;
}
.section__blog__grid__block__text h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0F172A;
  text-align: start;
  margin-bottom: 16px;
}
.section__blog__grid__block__text article {
  margin-bottom: 16px;
}
.section__blog__grid__block__text a {
  font-weight: 500;
  font-size: 18px;
  color: #F22225;
}

.section__blog__grid__block__text__author-date {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
}

.section__blog__grid__block__text__author {
  color: #F22225;
}

.footer {
  background-image: url(../assets/images/footer__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__container__footer-logo {
  display: flex;
  justify-content: center;
  margin-top: 74px;
  margin-bottom: 66px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.02em;
}

.footer__logo-first {
  color: #F22225;
}

.footer__logo-second {
  color: white;
}

.footer__container__footer-nav ul {
  display: flex;
  justify-content: center;
}
.footer__container__footer-nav li {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  width: 133px;
  border-right: 2px solid #514971;
  margin-bottom: 50px;
  text-align: center;
}
.footer__container__footer-nav li:last-of-type {
  border-right: none;
}

.footer__container__footer-socials {
  display: flex;
  justify-content: center;
  -moz-column-gap: 19px;
       column-gap: 19px;
}
.footer__container__footer-socials a {
  transition: 0.25s;
}
.footer__container__footer-socials a:hover {
  scale: 1.05;
}

/* === DESKTOP FIRST === */
/* xl <= Extra extra large (xxl) */
@media (max-width: 1400px) {
  .header__hero {
    display: flex;
    flex-direction: column;
  }
}
/* lg <= Extra large (xl) */
@media (max-width: 1200px) {
  .main {
    width: 992px;
  }
  .arrow-component {
    justify-content: center;
  }
  .nav__container ul {
    display: none;
  }
  .nav__login-btn {
    display: none;
  }
  .nav__signin-btn {
    display: none;
  }
  .nav__contact-btn {
    display: none;
  }
  .mobile__nav-burger-btn {
    display: flex;
  }
  .nav {
    width: 100%;
  }
  .nav__container {
    display: flex;
    width: 100vw;
    margin: 0;
    justify-content: space-around;
  }
  .header__container {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .header__text {
    margin-top: 101px;
  }
  .section__services {
    margin-top: 50px;
  }
  .section__services__block {
    padding: 20px;
  }
  .section__services__block__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 377px 377px;
    grid-template-rows: 361px 361px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }
  .section__about-me {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section__about-me__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 572px;
    grid-template-rows: 507px 507px;
    row-gap: 57px;
  }
  .section__about-me__statistics__grid {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 261px 261px;
    grid-template-rows: 282px 282px;
    row-gap: 57px;
  }
  .section__my-recent-projects {
    margin-bottom: 50px;
  }
  .section__my-recent-projects__header {
    justify-content: center;
  }
  .slick-prev {
    top: -37px;
    right: 50%;
  }
  .slick-next {
    top: -37px;
    right: calc(50% - 50px);
  }
  .section__my-work-example {
    margin-top: 50px;
  }
  .section__my-work-example__grid {
    display: grid;
    grid-template-columns: 377px 377px;
    grid-template-rows: repeat(3, 564px);
    -moz-column-gap: 31px;
         column-gap: 31px;
    row-gap: 33px;
  }
  .section__feedback {
    margin-top: 50px;
  }
  .section__feedback__header-text {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section__feedback__left-quote {
    left: 0;
  }
  .section__feedback__right-quote {
    right: 0;
  }
  .section__feedback__grid__block article {
    padding: 28px;
  }
  .section__contact {
    margin-top: 100px;
  }
  .section__contact__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 370px 370px;
    grid-template-rows: 586px;
    row-gap: 78px;
  }
  .section__contact__grid h2 {
    text-align: center;
  }
  .section__contact__grid__block__form__wrapper {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 301px;
    grid-template-rows: repeat(4, 50px);
    row-gap: 47px;
  }
  .section__contact__grid__block__form__block__input-message__wrapper {
    display: flex;
    justify-content: center;
  }
  .section__contact__grid__block__form__block__input-message__wrapper textarea {
    width: 301px;
  }
  .section__contact__grid__block__form__submit-btn-wrapper {
    display: flex;
    justify-content: center;
  }
  .section__blog__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 361px 361px;
    grid-template-rows: repeat(2, 561px);
    row-gap: 44px;
  }
  .footer__container__footer-nav ul {
    width: 400px;
  }
  .footer__container__footer-nav li {
    font-size: 10px;
  }
  .footer {
    margin-top: 50px;
  }
}
/* md <= Large (lg) */
@media (max-width: 992px) {
  .main {
    width: 769px;
  }
  .section__services__block__grid {
    grid-template-columns: 337px 337px;
    grid-template-rows: 361px 361px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
  }
  .section__my-work-example__grid {
    grid-template-columns: 347px 347px;
    grid-template-rows: repeat(3, 564px);
  }
  .section__feedback__grid {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .section__contact {
    width: 769px;
  }
  .section__contact__grid {
    grid-template-columns: 370px 370px;
    grid-template-rows: 586px;
    -moz-column-gap: 28px;
         column-gap: 28px;
  }
  .section__blog {
    width: 769px;
  }
  .section__blog__grid {
    grid-template-columns: 331px 331px;
    grid-template-rows: repeat(2, 561px);
    row-gap: 44px;
  }
}
/* sm <= Medium (md) */
@media (max-width: 768px) {
  .main {
    width: 577px;
  }
  .header__container {
    width: 577px;
  }
  .header__text {
    width: 577px;
  }
  .header__text h1 {
    font-size: 48px;
    width: 577px;
  }
  .header__text p {
    width: 577px;
  }
  .header__hero-your-img {
    min-width: 500px;
    height: 700px;
    margin-left: 0;
  }
  .header__hero-award {
    left: 0;
  }
  .header__hero-customers {
    left: 0;
  }
  .section__services {
    width: 577px;
  }
  .section__services h2 {
    font-size: 36px;
  }
  .section__services__block__grid {
    grid-template-columns: 337px;
    grid-template-rows: repeat(3, 361px);
  }
  .section__about-me {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section__about-me__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 370px;
    grid-template-rows: 400px 507px;
    row-gap: 20px;
  }
  .section__about-me__statistics__grid {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    grid-template-columns: 261px;
    grid-template-rows: 282px 282px 282px;
    row-gap: 20px;
  }
  .section__about-me__img-main {
    margin-right: 13px;
  }
  .section__about__me__img-small {
    gap: 14px;
  }
  .section__about-me__img-small-one {
    width: 102px;
    height: 120px;
  }
  .section__about-me__img-small-two {
    width: 102px;
    height: 120px;
  }
  .section__about-me__article h2 {
    font-size: 36px;
  }
  .section__my-recent-projects h2 {
    font-size: 36px;
  }
  .section__my-work-example__wrapper h2 {
    font-size: 36px;
  }
  .section__my-work-example__grid {
    grid-template-columns: 347px;
    grid-template-rows: repeat(6, 564px);
  }
  .section__my-work-example__nav {
    display: flex;
    justify-content: center;
  }
  .section__my-work-example__nav ul {
    width: 400px;
    gap: 10px;
  }
  .section__feedback__header-text h2 {
    font-size: 36px;
  }
  .section__contact {
    width: 577px;
  }
  .section__contact h2 {
    font-size: 36px;
  }
  .section__contact__grid {
    grid-template-columns: 370px;
    grid-template-rows: repeat(2, 586px);
  }
  .section__blog {
    width: 577px;
  }
  .section__blog h2 {
    font-size: 36px;
  }
  .section__blog__grid {
    grid-template-columns: 370px;
    grid-template-rows: repeat(3, 561px);
  }
}
/* xs <= Small (sm) */
@media (max-width: 576px) {
  .main {
    width: 390px;
  }
  .header__container {
    width: 370px;
  }
  .header__text {
    margin-top: 30px;
  }
  .header__text h1 {
    width: 370px;
    height: 48px;
    margin-bottom: 10px;
    font-size: 44px;
  }
  .header__text p {
    width: 370px;
  }
  .header__hero-your-img {
    display: flex;
    position: relative;
    min-width: 370px;
    height: 450px;
    margin-left: 0;
  }
  .header__hero-award {
    bottom: 10px;
  }
  .header__hero-customers {
    left: 0;
  }
  .section__services {
    width: 370px;
  }
  .section__services h2 {
    width: 370px;
  }
  .section__about-me {
    width: 370px;
  }
  .section__my-work-example__nav {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .section__my-work-example__grid {
    row-gap: 10px;
  }
  .section__feedback__left-quote {
    top: 170px;
  }
  .section__feedback__right-quote {
    top: 600px;
  }
  .section__contact {
    width: 370px;
  }
  .section__contact__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 370px;
    grid-template-rows: 586px 586px;
    row-gap: 78px;
  }
  .arrow-component {
    display: flex;
    justify-content: center;
  }
  .section__my-recent-projects__explore-more-btn {
    margin-top: 50px;
  }
  .section__blog {
    width: 370px;
  }
}
/* === MOBILE FIRST === */
/* Custom (xs) */
/* Small (sm) */
/* Medium (md) */
/* Large (lg) */
/* Extra large (xl) */
/* Extra extra large (xxl) */
html {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  color: gray;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  width: 100vw;
}

.main {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 5px;
}

.active {
  color: red;
}

.arrow-component {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}
.arrow-component span + span {
  margin-left: 3px;
}

.arrow-component-img {
  height: 6px;
  margin-right: 9px;
}

.arrow-component-text-1 {
  color: #25282B;
}

.arrow-component-text-2 {
  color: #F22225;
}

button, a {
  transition: 0.25s;
}

button:hover, a:hover {
  scale: 1.05;
}/*# sourceMappingURL=main.css.map */