@import './reset';
@import './mixins';
@import './nav';
@import './header__hero';
@import './section__services';
@import './section__about__me';
@import './slick-theme';
@import './slick';
@import './section__my-recent-projects';
@import './section__my-work-example';
@import './section__feedback';
@import './section__contact';
@import './section__blog';
@import './footer';
@import './media';

html {
	font-family: 'Inter', sans-serif;
  color: rgb(255, 255, 255);
	overflow-x: hidden;
	color: gray;
}
body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	min-height: 100vh;
	width: 100vw;
}
.main {
	margin: 0 auto;
	max-width: 1210px;
	padding: 0 5px;
}
.active {
	color: red;
}
.arrow-component {
	display: flex;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.02em;
	& span + span {
		margin-left: 3px;
	}
}
.arrow-component-img {
	height: 6px;
	margin-right: 9px;
}
.arrow-component-text-1 {
	color: #25282B;
}
.arrow-component-text-2 {
	color: #F22225;
}