/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
	.header__hero {
		display: flex;
		flex-direction: column;
		h1 {

		}
	}
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	.main {
		width: 992px;
	}
	.arrow-component {
		justify-content: center;
	}
	.nav__container ul{
		display: none;
	}
	.nav__login-btn {
		display: none;
	}
	.nav__signin-btn {
		display: none;
	}
	.nav__contact-btn{
		display: none;
	}
	.mobile__nav-burger-btn {
		display: flex;
	}
	.nav {
		width: 100%;

	}
	.nav__container {
		display: flex;
		width: 100vw;
		margin: 0;
		justify-content: space-around;
	}
	
	.header__container {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.header__text {
		margin-top: 101px;
	}
	.section__services {
		margin-top: 50px;
	}
	.section__services__block {
		padding: 20px;
	}
	.section__services__block__grid {
		display: grid;
		justify-content: center;
		grid-template-columns: 377px 377px;
		grid-template-rows: 361px 361px;
		column-gap: 20px;
		row-gap: 20px;
	}
	.section__about-me {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	// .section__about-me__article {
	// 	text-align: center;
	// }
	.section__about-me__grid {
		display: grid;
		justify-content: center;
		grid-template-columns: 572px;
		grid-template-rows: 507px 507px;
		row-gap: 57px;
	}
	.section__about-me__statistics__grid {
		display: grid;
		margin-top: 50px;
		grid-template-columns: 261px 261px;
		grid-template-rows: 282px 282px;
		row-gap: 57px;
	}
	.section__my-recent-projects {
		margin-bottom: 50px;
	}
	.section__my-recent-projects__header {
		justify-content: center;
	}
	.slick-prev {
		top: -37px;
		right: 50%;
	}
	.slick-next {
		top: -37px;
		right: calc(50% - 50px);
	}
	.section__my-work-example {
		margin-top: 50px;
	}
	.section__my-work-example__grid {
		display: grid;
		grid-template-columns: 377px 377px;
		grid-template-rows: repeat(3, 564px);
		column-gap: 31px;
		row-gap: 33px;
	}
	.section__feedback {
		margin-top: 50px;
	}
	.section__feedback__header-text {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.section__feedback__grid {
		// display: grid;
		// justify-content: center;
		// grid-template-columns: 370px 370px;
		// grid-template-rows: 261px;
		// row-gap: 45px;
	}
	.section__feedback__left-quote {
		left: 0;
	}
	.section__feedback__right-quote {
		right: 0;
	}
	.section__feedback__grid__block article {
		padding: 28px;
	}
	.section__contact {
		margin-top: 100px;
	}
	.section__contact__grid {
		display: grid;
		justify-content: center;
		grid-template-columns: 370px 370px;
		grid-template-rows: 586px;
		row-gap: 78px;
	}
	.section__contact__grid {
		h2 {
			text-align: center;
		}
	}
	.section__contact__grid__block__form__wrapper {
		position: relative;
		display: grid;
		justify-content: center;
		grid-template-columns: 301px;
		grid-template-rows: repeat(4, 50px);
		row-gap: 47px;
	}
	.section__contact__grid__block__form__block__input-message__wrapper {
		display: flex;
		justify-content: center;
		textarea {
			width: 301px;
		}
	}
	.section__contact__grid__block__form__submit-btn-wrapper {
		display: flex;
		justify-content: center;
	}
	.section__blog__grid {
		display: grid;
		justify-content: center;
		grid-template-columns: 361px 361px;
		grid-template-rows: repeat(2, 561px);
		row-gap: 44px;
	}
	.footer__container__footer-nav {
		ul {
			width: 400px;
		}
		li {
			font-size: 10px;
		}
	}
	.footer {
		margin-top: 50px;
	}
}


/* md <= Large (lg) */
@media (max-width : 992px) {
	.main {
		width: 769px;
	}
	.section__services__block__grid {
		grid-template-columns: 337px 337px;
		grid-template-rows: 361px 361px;
		column-gap: 10px;
		row-gap: 10px;
	}
	// .section__my-recent-projects__grid {
	// 	grid-template-columns: 340px 340px;
	// }
	.section__my-work-example__grid {
		grid-template-columns: 347px 347px;
		grid-template-rows: repeat(3, 564px);
	}
	.section__feedback__grid {
		column-gap: 15px;
	}
	.section__contact {
		width: 769px;
	}
	.section__contact__grid {
		grid-template-columns: 370px 370px;
		grid-template-rows: 586px;
		column-gap: 28px;
	}
	.section__blog {
		width: 769px;
	}
	.section__blog__grid {
		grid-template-columns: 331px 331px;
		grid-template-rows: repeat(2, 561px);
		row-gap: 44px;
	}
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.main {
		width: 577px;
	}
	.header__container {
		width: 577px;
	}
	.header__text {
		width: 577px;
		h1 {
			font-size: 48px;
			width: 577px;
		}
		p {
			width: 577px;
		}
	}
	.header__hero-your-img {
		min-width: 500px;
		height: 700px;
		margin-left: 0;
	}
	.header__hero-award {
		left: 0;
	}
	.header__hero-customers {
		left: 0;
	}	
	.section__services {
		width: 577px;
		h2 {
			font-size: 36px;
		}
	}
	.section__services__block__grid {
    grid-template-columns: 337px;
    grid-template-rows: repeat(3, 361px);
	}
	.section__about-me {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.section__about-me__grid {
		display: grid;
		justify-content: center;
		grid-template-columns: 370px;
		grid-template-rows: 400px 507px;
		row-gap: 20px;
	}
	.section__about-me__statistics__grid {
		display: grid;
		justify-content: center;
		margin-top: 50px;
		grid-template-columns: 261px;
		grid-template-rows: 282px 282px 282px;
		row-gap: 20px;
	}
	.section__about-me__img-main {
		margin-right: 13px;
	}
	.section__about__me__img-small {
		gap: 14px;
	}
	.section__about-me__img-small-one {
		width: 102px;
		height: 120px;
	}
	.section__about-me__img-small-two {
		width: 102px;
		height: 120px;
	}
	.section__about-me__article {
		h2 {
			font-size: 36px;
		}
	}
	// .section__my-recent-projects__grid {
  //   grid-template-columns: 340px;
	// 	grid-template-rows: repeat(3, 514px);
	// }
	.section__my-recent-projects {
		h2 {
			font-size: 36px;
		}
	}
	.section__my-work-example__wrapper {
		h2 {
			font-size: 36px;
		}		
	}
	.section__my-work-example__grid {
    grid-template-columns: 347px;
    grid-template-rows: repeat(6, 564px);
	}
	.section__my-work-example__nav {
		display: flex;
		justify-content: center;
		ul {
			width: 400px;
			gap: 10px;
		}
	}
	// .section__feedback__grid {
	// 	grid-template-columns: 370px;
	// 	grid-template-rows: repeat(2, 261px) ;
	// }
	.section__feedback__header-text {
		h2 {
			font-size: 36px;
		}		
	}
	.section__contact {
		width: 577px;
		h2 {
			font-size: 36px;
		}
	}
	.section__contact__grid {
		grid-template-columns: 370px;
		grid-template-rows: repeat(2, 586px);
	}
	.section__blog {
		width: 577px;
		h2 {
			font-size: 36px;
		}
	}
	.section__blog__grid {
		grid-template-columns: 370px;
		grid-template-rows: repeat(3, 561px);
	}
}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.main {
		width: 390px;
	}
	.header__container {
		width: 370px;
	}
	.header__text {
		margin-top: 30px;
		h1 {
			width: 370px;
			height: 48px;
			margin-bottom: 10px;
			font-size: 44px;
		}
		p {
			width: 370px;
		}
	}
	.header__hero-your-img {
		display: flex;
		position: relative;
		min-width: 370px;
		height: 450px;
		margin-left: 0;
	}
	.header__hero-award {
		bottom: 10px;
	}
	.header__hero-customers {
		left: 0;
	}
	.section__services {
		width: 370px;
		h2 {
			width: 370px;
		}
	}
	.section__about-me {
		width: 370px;
	}
	.section__my-work-example__nav {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.section__my-work-example__grid {
		row-gap: 10px;
	}
	.section__feedback__left-quote {
		top: 170px;
	}
	.section__feedback__right-quote {
		top: 600px;
	}
	.section__contact {
		width: 370px;
	}
	.section__contact__grid {
		display: grid;
		justify-content: center;
		grid-template-columns: 370px;
		grid-template-rows: 586px 586px;
		row-gap: 78px;
	}
	.arrow-component {
		display: flex;
		justify-content: center;
	}
	.section__my-recent-projects__explore-more-btn {
		margin-top: 50px;
	}
	.section__blog {
		width: 370px;
	}
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {

}
