@mixin headerTwo {
	margin-bottom: 34px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 46px;
	line-height: 56px;
	letter-spacing: 0.02em;
	color: #0F172A;
}
@mixin headerThree {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 31px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #0F172A;
}
@mixin headerFour {	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #0F172A;
}
@mixin headerFive {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #000000;
}
@mixin articleText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #757B82;
}
@mixin boxShadow {
	box-shadow: 0.3em 0.3em 1em rgba(189, 188, 188, 0.3);
}