.section__my-recent-projects {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 140px;
	width: 100%;
	h2 {
		@include headerTwo;
		margin-bottom: 74px;
	}
}
.section__my-recent-projects__header {
	display: flex;
	width: 100%;
	justify-content: start;
}

.section__my-recent-projects__grid {
	display: flex;
	justify-content: center;
}
.section__my-recent-projects__block {
	box-shadow: 0.3em 0.3em 1em rgba(189, 188, 188, 0.3);
	transition: .25s;
	display: flex;
	width: 377px;
	height: 514px;
	height: 100%;
}
.section__my-recent-projects__block:hover {
	transform: scale(1.05);
}
.section__my-recent-projects__block__text {
	margin: 27px 13px 28px 32px;
	h4 {
		@include headerFour;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	span {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #F22225;
	}
	article {
		margin-bottom: 10px;
	}
}
.section__my-recent-projects__block__view-more-link {
	display: flex;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #F22225!important;
}
.section__my-recent-projects__block_img {
	width: 377px;
	height: 272px;
}
.section__my-recent-projects__explore-more-btn-wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
}
.section__my-recent-projects__explore-more-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 30px;
	gap: 10px;
	width: 174px;
	height: 54px;
	margin: 0 auto;
	margin-top: 85px;
	color: white!important;
	background: #F22225;
	border-radius: 50px;
	transition: .25s;
}
.section__my-recent-projects__explore-more-btn:hover {
	background-color: rgb(255, 0, 4);
}



.carousel {
	width: 100%;
	height: 100%;
}
.slick-arrow {
	position: absolute;
	z-index: 1;
	top: -100px;
	right: 0;
	border: none;
	background-color: none;
	padding: 0;
	cursor: pointer;
	font-size: 0;
}
.slick-prev {
	display: flex;
	position: absolute;
	right: 50px;
	width: 50px;
	height: 50px;
		&::before {
			content: url(../assets/images/icons/arrow-prev-active.svg);
			width: 50px;
			height: 50px;
		}
		&:hover, &:focus {
			opacity: 0.5;
		}
}
.slick-next {
	display: flex;
	position: absolute;
	right: 0;
	width: 50px;
	height: 50px;
		&::before {
			content: url(../assets/images/icons/arrow-next-inactive.svg);
			width: 50px;
			height: 50px;
		}
		&:hover, &:focus {
			opacity: 0.5;
		}
}
.slick-dots {
	list-style: none;
	position: absolute;
	z-index: 3;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	li {
		background-color: rgb(235, 26, 26);
		border-radius: 50%;
		width: 12px;
		height: 12px;
		font-size: 0;
		transition: .25s;
		&:hover, &:focus {
			opacity: 0.5;
		}
	}
}
.slick-disabled {
	visibility: hidden;
}

