.section__feedback {	
	margin-top: 140px;
}
.section__feedback__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.section__feedback__bg-img {
	position: absolute;
	width: 100vw;
	left: 0;
	height: 688px;
	z-index: -1;
}
.section__feedback__left-quote {
	position: absolute;
	top: 109px;
	left: -112px
}
.section__feedback__right-quote {
	position: absolute;
	top: 496px;
	right: -112px;
}
.section__feedback__header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 137px;
	margin-bottom: 74px;
	h2 {
		@include headerTwo;
		text-align: center;
	}
}
.section__feedback__grid {
	display: grid;
	justify-content: center;
	grid-template-columns: 555px 555px;
	grid-template-rows: 261px;
	column-gap: 45px;
}
.section__feedback__grid__block {
	article {
		border-top: 7px solid #F22225;
		border-radius: 10px;
		background-color: white;
		padding: 30px 40px 50px 40px;
		box-shadow: 6px 6px 10px rgba(98, 91, 222, 0.1);
		transition: .25s;
	}
	article:hover {
		scale: 1.05;
	}
}
.section__feedback__grid__block__article-wrapper {
	position: relative;
	height: 138px;
	margin-bottom: 38px;
}
.section__feedback__grid__block__article_msg-img {
	position: absolute;
	left: 81px;
	top: 133px;
}
.section__feedback__grid__block__client-profile {
	display: flex;
	margin-left: 59px;
	transition: .25s;
}
.section__feedback__grid__block__client-profile:hover {
	scale: 1.05;
}
.section__feedback__grid__block__client-profile__img-main {
	margin-right: 30px;
}
.section__feedback__grid__block__client-profile__name {
	display: flex;
	flex-direction: column;
	width: 130px;
	h5 {
		@include headerFive;
	}
	span {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 11px;
		margin-top: 5px;
	}
	img {
		width: 50px;
		height: 10px;
	}
}
.section__feedback__dots {
	display: flex;
	justify-content: center;
	margin-top: 57px;
}